---
import { getCollection } from "astro:content";
import BlogItem from "../../components/blog/BlogItem.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<Layout title="Blog">
  <div class="mb-6">
    <span class="text-cyan-400">$ ls -la ./blog</span>
    <span class="text-gray-500 ml-4"># {posts.length} posts</span>
  </div>
  <ul class="space-y-4">
    {posts.map((post) => (
      <BlogItem url={`/blog/${post.id}`} content={post.data} />
    ))}
  </ul>
</Layout>
