@layer webtui-base, webtui-utils, webtui-components;

@import "@webtui/css/base.css" layer(webtui-base);
@import "@webtui/css/utils/box.css" layer(webtui-utils);
@import "@webtui/css/components/typography.css" layer(webtui-components);
@import "@webtui/css/components/button.css" layer(webtui-components);
@import "@webtui/css/components/badge.css" layer(webtui-components);
@import "@webtui/css/components/separator.css" layer(webtui-components);
@import "@webtui/css/components/input.css" layer(webtui-components);
@import "@webtui/css/components/pre.css" layer(webtui-components);
@import "@webtui/theme-everforest" layer(webtui-components);

@import "tailwindcss";

.terminal-container {
  max-width: 80ch;
  margin-inline: auto;
  padding-inline: 1ch;
}

body > .terminal-container.outer {
  flex-grow: 1;
}

footer#footer {
  flex-shrink: 0;
}

.text-muted {
  color: var(--foreground2);
}

.text-accent {
  color: var(--foreground1);
}
