---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div class="max-w-lg mx-auto">
    <main>
      <div box-="square" class="p-8 text-center">
        <div class="mb-4">
          <span class="text-red-500 text-2xl font-bold">ERROR 404</span>
        </div>
        <div class="mb-6 text-gray-400">
          <span class="text-cyan-400">$</span> cat ./page
        </div>
        <div class="text-red-400 mb-4">
          cat: ./page: No such file or directory
        </div>
        <a href="/" class="text-blue-400 hover:underline">[return home]</a>
      </div>
    </main>
  </div>
</Layout>
