---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BookmarkItem from "../../components/bookmarks/BookmarkItem.astro";

const bookmarks = await getCollection("bookmarks");
---

<Layout title="Bookmarks">
  <div class="mb-6">
    <span class="text-term">$ cat ./bookmarks</span>
    <span class="text-term-muted ml-4"># {bookmarks.length} saved</span>
  </div>
  <ul class="space-y-4">
    {bookmarks.map((item) => <BookmarkItem content={item.data} />)}
  </ul>
</Layout>
