---
import { getCollection, render } from "astro:content";
import HtmlHead from "../../components/_globals/HtmlHead.astro";
import Header from "../../components/_globals/header/Header.astro";
import Footer from "../../components/_globals/footer/Footer.astro";

export async function getStaticPaths() {
  const items = await getCollection("work");
  return items.map((item) => ({
    params: { slug: item.id },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content } = await render(item);
---

<!DOCTYPE html>
<html lang="en">
  <HtmlHead title={item.data.client} />

  <body>
    <Header />

    <div class="container outer">
      <article class="prose prose-base">
        <header>
          <h1>{item.data.client}</h1>
        </header>

        <Content />
      </article>
    </div>

    <Footer />
  </body>
</html>
