---
import HtmlHead from "../components/_globals/HtmlHead.astro";
import Header from "../components/_globals/header/Header.astro";
import Footer from "../components/_globals/footer/Footer.astro";

export interface Props {
  content: {
    title: string;
  };
}

const {
  content: { title },
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <HtmlHead title={title} />

  <body>
    <Header />

    <div class="terminal-container outer">
      <article class="prose prose-base">
        <h1 class="sr-only">{title}</h1>

        <slot />
      </article>
    </div>

    <Footer />
  </body>
</html>
