---
const homeLink = `/`;
---

<div id="brand">
  <a href={homeLink} class="font-bold no-underline" style="color: var(--foreground0);">
    <span id="brand-text" class="typewriter" data-text="daz.dev" data-speed="50" data-delay="0">
      <span class="typewriter-content"></span>
      <span class="typewriter-cursor static">▋</span>
    </span>
  </a>
</div>
