---
import Brand from "./Brand.astro";
import Navigation from "./Navigation.astro";
---

<header id="header" class="mt-4 mb-8">
  <div class="terminal-container">
    <div box-="square" class="flex justify-between items-center px-4 py-2">
      <Brand />
      <Navigation />
    </div>
  </div>
</header>
