---
import SocialLink from "./SocialLink.astro";
---

<nav class="flex items-center gap-1" aria-labelledby="primary-navigation">
  <h2 id="primary-navigation" class="sr-only">Primary Navigation</h2>
  <SocialLink
    title="x:dazdotdev"
    url="https://x.com/dazdotdev"
    img="/svg/logo-social-twitter.svg"
  />
</nav>
