---
interface Props {
  title: string;
  url: string;
  img: string;
}

const { title, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="px-3 py-1 no-underline text-term-dim hover:text-term-bright"
>
  [@{title.toLowerCase()}]
</a>
